body {
  font-size: 1.25rem;
  font-family: "roboto";
}

td {
  line-height: 3rem;
}

.btn__voltar {
  text-align: center;
}
#pesquisa{
  display: flex;
 justify-content: center;
 gap: 20px;
 margin-bottom: 20px;
}
.hidden{
  display: none;
}
.show{
  display: block
}
i{
  margin-left: 20px;
  font-size: 30px;
}
.table-responsive{
  background-color: lightgrey;
}